<mat-card>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Coffee drinks" formControlName="title">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Text</mat-label>
            <input matInput placeholder="Ex. Select only coffee drinks." formControlName="text">
        </mat-form-field>

        <table class="mat-elevation-z8 full-width">
            <thead>
                <th>Text</th>
                <th>Answer</th>
                <th>Action</th>
            </thead>

            <tbody>
                <ng-container formArrayName="options" *ngFor="let option of this.options.controls; index as i">
                    <tr [formGroupName]="i">
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Option text</mat-label>
                                <input matInput placeholder="Ex. Cappuccino" formControlName="text">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-checkbox formControlName="answer"></mat-checkbox>
                        </td>
                        <td>
                            <button mat-raised-button type="button" color="warn" (click)="remove(i)">
								Remove
							</button>
                    </tr>
                </ng-container>
                <tr>
                    <td>
                        <button mat-button type="button" (click)="addOption()" color="primary" class="full-width">
							Add new option
						</button>
                    </td>
                </tr>
            </tbody>

        </table>

        <br>

        <button mat-raised-button color="primary" class="full-width">Save Quiz</button>

    </form>

    <mat-error ng-container *ngFor="let error of errors">{{error.defaultMessage}}</mat-error>

</mat-card>