<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>

        <button mat-flat-button color="primary" [routerLink]="['']">
			Home
		</button>

        <ng-container *ngIf="user; then authenticated; else anonymous"></ng-container>

    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #anonymous>
    <button mat-flat-button color="primary" [routerLink]="['login']">
		Login
	</button>

    <button mat-flat-button color="primary" [routerLink]="['register']">
		Register
	</button>
</ng-template>

<ng-template #authenticated>
    <button mat-flat-button color="primary" (click)="logout()">
		Logout
	</button>
</ng-template>